body{
    background: url(images/whitebg.png);
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    overflow: hidden;
    position: fixed;
    display: flex;
    top: 0%;
    justify-content: space-between;
    background-color: white;
    height: 149px;
    font-size: 38px;
    box-shadow: 0 0 50px rgba(192, 192, 192, 0.5);;
    width: 100%;
}
#logo{
    font-family: "roboto";
    font-weight: bold;
    margin-top: 52px;
    margin-left: 90px;
}
#logo a{
    text-decoration: none;
    color: black;
}
#menu ul{
    list-style: none;
    display: flex;
    margin-right: 90px;
    margin-top: 53px;
}
#menu ul li{
    margin-left: 58px;

}
#menu ul li a{
    font-weight: 350;
    font-family: Bebas Neue Pro;
    text-decoration: none;
    color: #9A9A9A;
}
#menu ul li a:hover, #menu ul li a.active{
    color: black;
    font-weight: bold;
}
.hero{
    text-align: center;
}
#title{
    font-family: "Bebas Neue Pro";
}
#title h1{
    margin-top: 305px;
    font-size: 120px;
    font-weight: 300;
}
#title h1 a{
    font-weight: bold;
}
#garis{
    margin-top: 55px;
    margin-bottom: 72px;
}
#garis hr{
    border: 1px solid black;
}
#button{
    background: black;
    width: 306px;
    line-height: 72px;
    margin: auto;
    margin-bottom: 200px;
    transition: transform .2s;
}
#button a{
    font-size: 26px;
    font-family: "Bebas Neue Pro";
    text-decoration: none;
    color: white;
}
#button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (prefers-color-scheme: dark){
    body{
        background: url(images/blackbg.jpg);
    }
    .navbar{
        background-color: rgb(14, 14, 14);
        box-shadow: 0 0 50px rgba(43, 43, 43, 0.5);
    }
    #logo a{
        color: rgb(255, 255, 255);
    }
    #menu ul li a{
        color: #C5C5C5;
    }
    #menu ul li a:hover, #menu ul li a.active{
        color: rgb(255, 255, 255);
    }
    #title{
        color: white;
    }
    #garis hr{
        border: 1px solid rgb(255, 255, 255);
    }
    #button{
        background: rgb(255, 255, 255);
    }
    #button a{
        color: rgb(0, 0, 0);
    }
}